INTERNAL_EMAIL=
OPENAI_API_KEY=

POSTGRES_DB=app_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/app_db

QDRANT_HOST=localhost
QDRANT_REST_PORT=6333
QDRANT_GRPC_PORT=6333
QDRANT_PREFER_GRPC=true
QDRANT_CLIENT_TIMEOUT=60
